.toggle-details {
  width: 100%;
  height: 50px;
}
.hidden-sheet {
  display: none;

  &.show {
    display: block;
  }
}

.svg svg {
  fill: white;
}

.h2-name {
  margin-top: 50px;
  font-size: 2.5em;
}
