<!-- app/views/npc/create_npc.html.erb -->
<div data-controller="modal">
  <button data-action="click->modal#toggle" data-modal-target="button" class="btn btn-secondary modalBtn">
    Ajouter un nouveau personnage
  </button>
  <%= render "shared/form_for_new_character" %>
</div>
