// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #c0b6a791;
}
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #5c636b;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .scroll-to-top {
    display: block;
  }
}

.hidden-sheet-2 {
  display: none;

  &.show {
    display: block;
  }
}

.btn-secondary {
  background-color: #3b3936bf;
  border-color: #3b3936bf;
  color: #fff;
  &:hover {
    background-color: #4e545b;
    border-color: #4e545b;
  }
}
